.main {
    width: 960px;
    margin: 0 auto;
    background-color: #de4848;
    border-width:4px;
    border-style:solid;
    border-color:black;
}

h1{
    color: red ;
    text-align: center;
}

h2{
    text-align: center;
    font-style: italic ;
}

.D1{
   text-align: left;
   font-size: 25px;
   line-height: 5px
}

.D2{
    text-align: right;
    font-size: 25px;
    line-height: 5px
}